.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
    
  }
}

.App-header {
  background-color: #282c34;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table th {
    background-color: lightskyblue;
    font-style: italic;
    font-size: calc(10px + 2vmin);
}



table tr:nth-child(odd) {
    background-color: white;
}

table tr:nth-child(even) {
    background-color: lightgreen;
}



caption {
    vertical-align: middle;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#grupo {
    background-color: #9c83f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
p {
    background-color: #451ab1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}